.event-list-container {
  width: 15vw;
  margin-left: 10%;
}

.event-list-header {
  margin: 10% 0 5% 0;
  font-weight: 500;
  color: #252525;
}

.event-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.event-wrapper {
  display: flex;
}

.event-item,
.event-time {
  color: #252525;
  width: 100%;
  margin: 2% 0;
}

@media only screen and (min-width: 2000px) {
  .event-list-header {
    font-size: 1.8rem;
  }
  .event-item,
  .event-timeФ {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 481px) {
  .event-list-container {
    grid-row: 2;
    width: 80%;
  }

  .event-list-header {
    font-size: 1rem;
  }

  .event-wrapper {
    display: block;
    border-bottom: 1px solid #dee0e3;
  }

  .event-item {
    font-size: 0.8rem;
  }
  .event-time {
    font-size: 0.7rem;
    color: #6f7377;
  }
}
